# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (including Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Kernel module compile results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Build system files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
configure
config.status
config.log

######################
# IDE / Editor Files #
######################

# VS Code
.vscode/
*.code-workspace

# JetBrains IDEs (CLion)
.idea/
*.iml
cmake-build-*/

# Eclipse
.project
.cproject
.settings/
.metadata/
bin/
tmp/

# Code::Blocks
*.depend
*.layout
*.cbp
*.layout.save

# NetBeans
nbproject/private/
build/
dist/

# Sublime Text
*.sublime-workspace
*.sublime-project

# Others
*~  # temporary files
*.swp  # Vim swap files
.DS_Store  # macOS
Thumbs.db  # Windows thumbnail cache
